%h1.welcome_title.no_top_margin We Log Your Runs!
%br
.col-lg-4.col-md-4.col-sm-4
  %h3.no_top_margin Welcome!
  %p
    I created this app to log and track my runs over time. Sign up and start logging your runs today!
  %br

  %p
    Learn more about me here:
    %a{href: "http://jeremysamples.com"}
      %br
      jeremysamples.com

  %p 
    Follow me on twitter:
    %a{href: "http://twitter.com/judesamp"}
      %br
      @judesamp
    
  


.col-lg-3.col-md-3.col-sm-3.col-lg-offset-2.col-md-offset-2.col-sm-offset-2
  %h3.no_top_margin Sign up

  = form_for User.new do |f|
    = f.label :name
    = f.text_field :name, class: 'form-control'
    %br
    = f.label :email
    = f.text_field :email, class: 'form-control'
    %br
    = f.label :password
    = f.password_field :password, class: 'form-control'
    %br
    = f.label :password_confirmation
    = f.password_field :password_confirmation, class: 'form-control'
    %br
    = f.submit "Create Account", class: 'form-control btn btn-primary'

    %br
    %br
    %br