.close.glyphicon.glyphicon-remove

%h1 Your Run

%p= pretty_date(run.run_date)
%p= pretty_time(run.run_time)
%p= run.distance
= pluralize(run.distance, "mile")
%p= pretty_pace(run.per_mile_pace)
- if run.route_name.present? 
	%p= run.route_name
- if run.notes.present? 
	%p= run.notes