.well
  %h4.stat_title
    %span.filter_name Lifetime
    Stats 
  .nav.nav-pills.stat_dropdown
    %li.dropdown
      %a.dropdown_link.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
        Filter by
        %span.caret
      %ul.dropdown-menu
        %li
          %a{id: "last_seven", href: "#", data: { "user-id" => current_user.id }} The Last Seven Days
        %li
          %a{id: "last_thirty", href: "#", data: { "user-id" => current_user.id }} The Last Thirty Days
        %li
          %a{id: "year", href: "#", data: { "user-id" => current_user.id }} This Year's Stats
        %li
          %a{id: "lifetime", href: "#", data: { "user-id" => current_user.id }} Lifetime Stats
  %table.table.stats_table  
    %thead
      %tr
        %th.stat_header
          .glyphicon.glyphicon-th 
          Total Runs
        %th.stat_header
          .glyphicon.glyphicon-dashboard 
          Total Time
        %th.stat_header
          .glyphicon.glyphicon-road
          Total Distance
        %th.stat_header
          .glyphicon.glyphicon-time
          Average Pace
      %tr.stat_row
        %td.stat_data= "#{Run.count} runs"
        %td.stat_data= pretty_time(Run.total_time)
        %td.stat_data= "#{Run.total_distance}m"
        %td.stat_data= pretty_pace(Run.all_time_per_mile_pace)

.col-md-3.col-sm-3
  %h1.run_title Your Runs
.col-md-9.col-sm-9
  =link_to "Create a New Run", new_user_run_path, remote: true, id: 'create_button', class: "btn btn-lg btn-block btn-warning"
%table.table
  %thead
    %tr
      %th
        .glyphicon.glyphicon-calendar
        Date
      %th
        .glyphicon.glyphicon-dashboard
        Time
      %th 
        .glyphicon.glyphicon-road
        Distance
      %th 
        .glyphicon.glyphicon-time
        Pace/mile
  %tbody#run_table_body
    = render 'runs/run_table_body'
.pagination_nav
  #paginator
    = paginate @runs, remote: true
   
#show_modal.modal_custom

#create_modal.modal_custom

#edit_modal.modal_custom

#fade