<!DOCTYPE html>
<html>
<head>
  <title>RunningLog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <a class="navbar-brand" href="/">RunningLog</a>
      <% if current_user %>

        <%= link_to "Dashboard", user_runs_path(current_user), class: "right_edge2 btn btn-default" %>

        <%= link_to "Logout", logout_path, class: "right_edge btn btn-default logout_button" %>

      <% else %>

        <span class="right_edge btn btn-default login_button" href="#">Login</span>


      <% end %>
 
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
  <!--   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->


  <div class="nav navbar-nav navbar-right">
    </nav>
      <% if flash[:notice] %>
        <div class="alert-message warning">
       <p><%= flash[:notice] %></p>
        </div>
      <% end %>

      <% if flash[:alert] %>
          <div class="alert-message error">
         <p><%= flash[:alert] %></p>
          </div>
      <% end %>
  </div>

<div class="container">

<%= yield %>

</div>

<div class="login_modal modal_custom">
  <%= render 'sessions/new'%>
</div>

<div id="fade">
</div>

</body>
</html>
